
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  background:#42d3cb36;
  color: black;
}


.button {
  position: relative;
  padding: 12px 30px; /* Adjusted padding for larger buttons */
  border-radius: 25px; /* More rounded corners */
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #00796b; 
  transition: all 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  font-size: 1rem; 
}

.button:hover {
  background-color: #13d7b6; /* Darker teal on hover */
  transform: translateY(-3px); /* Lifting effect on hover */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Shadow increase on hover */
}

.button:active {
  transform: translateY(1px); /* Slight pressing effect */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1;
  background-repeat: no-repeat;
}

.button:hover:before {
  top: -80%;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.3) 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, rgba(255, 255, 255, 0.3) 20%, transparent 30%);
  background-size: 10% 10%, 20% 20%;
  background-position: 50% 120%;
  animation: bubble-top 0.6s ease;
}


@keyframes bubble-top {
  0% {
    background-position: 5% 90%, 10% 90%;
  }
  50% {
    background-position: 0% 80%, 10% 40%;
  }
  100% {
    background-position: 0% 70%, 10% 30%;
  }
}


h1, h2, h3 {
  font-family: 'Playfair Display', serif; /* Elegant font for headings */
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: transparent;
  background: linear-gradient(90deg, #FF9A00, #FF4B00);
  -webkit-background-clip: text;
  background-clip: text;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: transparent;
  background: linear-gradient(90deg, #FF9A00, #FF4B00);
  -webkit-background-clip: text;
  background-clip: text;
}

h3 {
  font-size: 1.5rem;
  color: white;
}


.container {
  padding: 2rem 1rem;
}

.section {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


