
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  /* background: linear-gradient(145deg, #ff8a5c, #e73c7e, #3f7ae5, #3fe5ab); */
  background:#393E46;

  background-size: cover;
  color: white;
}

.button {
  position: relative;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #2a40e8;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: blue;
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.button:active {
  transform: scale(0.98);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1;
  background-repeat: no-repeat;
}

.button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%;
  background-position: 50% 120%;
  animation: bubble-top 0.6s ease;
}

@keyframes bubble-top {
  0% {
    background-position: 5% 90%, 10% 90%, 15% 90%;
  }
  50% {
    background-position: 0% 80%, 10% 40%, 20% 20%;
  }
  100% {
    background-position: 0% 70%, 10% 30%, 20% 10%;
    background-size: 0% 0%;
  }
}

.button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%);
  background-size: 15% 15%, 18% 18%;
  background-position: 50% 0%;
  animation: bubble-bottom 0.6s ease;
}

@keyframes bubble-bottom {
  0% {
    background-position: 10% -10%, 30% 10%;
  }
  50% {
    background-position: 20% 80%, 45% 60%;
  }
  100% {
    background-position: 0% 90%, 20% 90%;
    background-size: 0% 0%;
  }
}


